<h2>Create A New Listing</h2>
<form action="/textbooks" method="post">
  <label>Title:</label>
  <input type="text" name="title">
  <br>
  <br>
  <label>Author:</label>
  <input type="text" name="author">
  <br>
  <br>
  <label>Price: $</label>
  <input type="text" name="price">
  <br>
  <br>
  <label>Image URL (optional): </label>
  <input type="text" name="image_url">
  <br>
  <br>
  <input type="submit" value="Create Listing">
</form>
