<h2>Textbooks For Sale:</h2>
<form action="/textbooks/new" method="get">
  <input type="submit" value="Create A Listing">
</form>
<br>
<ul>
  <% Textbook.all.each do |textbook| %>
    <li><a href="/textbooks/<%=textbook.id%>"><%= textbook.title %></a></li>
  <% end %>
</ul>
