<a class="my-profile" href="/user/<%=@user.slug%>">My Profile</a>
<h2>Textbooks For Sale:</h2>
<form class="button-container" action="/textbooks/new" method="get">
  <input type="submit" value="Create A Listing">
</form>
<form class="button-container" action="/logout" method="get">
  <input type="submit" value="Log Out">
</form>
<br>
<br>
<ul class="texbook-list">
  <% @textbooks.each do |textbook| %>
    <li><a href="/textbooks/<%=textbook.id%>"><%= textbook.title %></a></li>
  <% end %>
</ul>
