<h2>Log Into Your Account</h2>
<form action="/login" method="post">
  <label>Username:</label>
  <input type="text" name="username">
  <br>
  <br>
  <label>Password:</label>
  <input type="text" name="password">
  <br>
  <br>
  <input type="submit" value="Log In">
</form>
