<h2>Sinatra College Textbooks</h2>
<h3>Sell/Buy Your College Textbooks!</h3>
<h4>Welcome! Starting school soon? Buy or sell your used textbooks here!</h4>
<br>
<a class="login" href="/login">Log In</a>
<a class="signup" href="/signup">Sign Up</a>
