<h1>Sign up</h1>
<form action="/signup" method="post">
  <label>Username: </label>
  <input type="text" name="username">
  <br>
  <label>Password: </label>
  <input type="text" name="password">
  <br>
  <label>E-mail: </label>
  <input type="text" name="email">
  <br>
  <input type="submit" value="password">
</form>
